@model Course
<div class="col-8">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/img/course/@Model.Img" alt="Card image cap" style="object-fit:cover">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>
